<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="Tests/bootstrap.php"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestSize="true"
        colors="true"
>
    <testsuites>
        <testsuite name="Akeeba Replace Unit Tests">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <!-- ### Code Coverage Exclusions ### -->
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src</directory>
            <exclude>
                <!-- Folders with non-code files -->
                <directory suffix=".php">build</directory>
                <directory suffix=".php">documentation</directory>
                <directory suffix=".php">release</directory>
                <directory suffix=".php">Tests</directory>
                <directory suffix=".php">vendor</directory>

                <!-- User Interfaces -->
                <directory suffix=".php">src/akeebareplace</directory>
                <directory suffix=".php">src/standalone</directory>

                <!-- PSR-4 Autoloader -->
                <directory suffix=".php">src/lib/Autoloader</directory>

                <!-- Interfaces -->
                <directory suffix="Interface.php">src</directory>

                <!-- Trivial classes (only there for inheritance or they just have empty implementations (no code) -->
                <file>src/lib/Database/Query/Mysql.php</file>
                <file>src/lib/Database/Query/Pdo.php</file>
                <file>src/lib/Engine/Core/Response/SQL.php</file>
                <file>src/lib/Engine/Core/Filter/Table/AbstractFilter.php</file>
                <file>src/lib/Logger/NullLogger.php</file>
                <file>src/lib/Writer/NullWriter.php</file>

                <!-- Trivial traits (they are just collections of property getters and setters) -->
                <file>src/lib/Database/DatabaseAware</file>
                <file>src/lib/Engine/DomainAware.php</file>
                <file>src/lib/Engine/StepAware.php</file>
                <file>src/lib/Engine/Core/ConfigurationAware.php</file>
                <file>src/lib/Logger/LoggerAware.php</file>
                <file>src/lib/Timer/TimerAware.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
