################################################################################
## Akeeba Replace
##
## Unit and integration testing configuration
################################################################################

## Database for testing the Akeeba\Replace\Database package
DB_HOST="localhost"
DB_NAME="replacetest"
DB_USER="replace"
DB_PASS="Repl@c3"